{% extends '../layout/layout.twig' %}

{% block content %}
    <div class="langControl">
        <a class="localeSwitch" href="/lang=en">en</a>
        <a class="localeSwitch" href="/lang=ru">ru</a>
    </div>
    <img src="/resources/images/logo.png"/><br/>
    <table class="table table-striped">
        <tr>
            <td>{{ "Name"|trans }}</td>
            <td>{{ "Number"|trans }}</td>
            <td>{{ "E-mail"|trans }}</td>
            <td>{{ "Date"|trans }}</td>
            <td>{{ "Action"|trans }}</td>
        </tr>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.name }}</td>
                <td>{{ contact.number }}</td>
                <td>{{ contact.email }}</td>
                <td class="date">{{ contact.date }}</td>
                <td>
                    <a href="/edit?id={{ contact.id }}">{{ "Edit"|trans }}</a>
                    <a href="/delete?id={{ contact.id }}">{{ "Delete"|trans }}</a>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="5">
                <a href="/add">{{ "Add.entry"|trans }}</a>
            </td>
        </tr>
    </table>
{% endblock %}